<table class="table-center">
  <% locals.items?.forEach(function(item, index) { %>
  <tr>
    <td class="text-left" colspan="2"><%= id %>.<%= index + 1 %>.</td>
  </tr>
  <tr>
    <td>Pavadinimas:</td>
    <td class="font-bold"><%= item.pavadinimas %></td>
  </tr>
  <tr>
    <td>Identifikavimo kodas:</td>
    <td class="font-bold"><%= item.kodas %></td>
  </tr>
  <tr>
    <td>Kategorija:</td>
    <td class="font-bold"><%= item.kategorija %></td>
  </tr>
  <tr>
    <td>Atstumas nuo upės žiočių:</td>
    <td class="font-bold"><%= roundNumber(item.atstumas_nuo_upes_ziociu, 1) || '-' %> km</td>
  </tr>
  <tr>
    <td>Įtekėjimo krantas:</td>
    <td class="font-bold"><%= item.itekejimo_vyr_upes_krantas %></td>
  </tr>
  <% }); %>
</table>

