<table class="table-center">
  <% locals.items?.forEach(function(item, index) { %>
  <tr>
    <td class="text-left"><%= id %>.<%= index + 1 %></td>
    <td><b><%= item.upes_tipas %></b></td>
  </tr>
  <tr>
    <td>Pavadinimas:</td>
    <td><%= item.patvenktos_upes_pavadinimas %></td>
  </tr>
  <tr>
    <td>Identifikavimo kodas:</td>
    <td><%= item.patvenktos_upes_kodas %></td>
  </tr>
  <tr>
    <td>Atstumas nuo žiočių:</td>
    <td><%= roundNumber(item.atstumas_nuo_ziociu) %> km</td>
  </tr>
  <% }); %>
</table>

