<% if (!!locals.pavadinimas) { %>
<tr>
  <td>Pavadinimas:</td>
  <td><%= locals.pavadinimas %></td>
</tr>
<% }; if (!!locals.kodas) { %>
<tr>
  <td>Hidrotechninio statinio kodas:</td>
  <td class="font-bold"><%= locals.kodas %></td>
</tr>
<% }; if (!!locals.registravimoData) { %>
<tr>
  <td>Įrašymo data:</td>
  <td class="font-bold"><%= formatDate(locals.registravimoData) || '-' %></td>
</tr>
<% }; if (!!locals.tipas) { %>
<tr>
  <td>Tipas:</td>
  <td class="font-bold"><%= locals.tipas %></td>
</tr>
<% }; if (!!locals.pastatymoMetai) { %>
<tr>
  <td>Pastatymo metai:</td>
  <td class="font-bold">
    <%= formatDate(locals.pastatymoMetai, 'YYYY') || '-' %>
  </td>
</tr>
<% }; if (!!locals.patvankosAukstis) { %>
<tr>
  <td>Patvankos aukštis:</td>
  <td class="font-bold">
    <%= roundNumber(locals.patvankosAukstis, 1) || '-' %> m
  </td>
</tr>
<% }; if (!!locals.maxPatvankosAukstis) { %>
<tr>
  <td>Maksimalus patvankos aukštis:</td>
  <td class="font-bold">
    <%= roundNumber(locals.maxPatvankosAukstis, 1) || '-' %> m
  </td>
</tr>
<% }; if (!!locals.ilgis) { %>
<tr>
  <td>Žemių užtvankos ilgis:</td>
  <td class="font-bold"><%= roundNumber(locals.ilgis, 1) || '-' %> m</td>
</tr>
<% }; if (!!locals.plotis) { %>
<tr>
  <td>Žemių užtvankos plotis:</td>
  <td class="font-bold"><%= roundNumber(locals.plotis, 1) || '-' %> m</td>
</tr>
<% }; if (!!locals.gamtosauginisDebitas) { %>
<tr>
  <td>Gamtosauginis vandens debitas:</td>
  <td class="font-bold">
    <%= roundNumber(locals.gamtosauginisDebitas, 3) || '-' %> m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.vidDaugiametisDebitas) { %>
<tr>
  <td>Vidutinis daugiametis vandens debitas Qvid:</td>
  <td class="font-bold">
    <%= roundNumber(locals.vidDaugiametisDebitas, 3) || '-' %> m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.vidDaugiametisDebitas95) { %>
<tr>
  <td>Vidutinis daugiametis vandens debitas Q95%:</td>
  <td class="font-bold">
    <%= roundNumber(locals.vidDaugiametisDebitas95, 3) || '-' %> m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.maxPavasarioPotvynioDeb1) { %>
<tr>
  <td>Maksimalus pavasario potvynio vandens debitas Q1%:</td>
  <td class="font-bold">
    <%= roundNumber(locals.maxPavasarioPotvynioDeb1, 3) || '-' %>
    m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.maxPavasarioPotvynioDeb5) { %>
<tr>
  <td>Maksimalus pavasario potvynio vandens debitas Q5%:</td>
  <td class="font-bold">
    <%= roundNumber(locals.maxPavasarioPotvynioDeb5, 3) || '-' %>
    m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.minVasarosRudens30ParuDebitas95) { %>
<tr>
  <td>Minimalus vasaros-rudens 30 sausiausių parų laikotarpio debitas Q95%:</td>
  <td class="font-bold">
    <%= roundNumber(locals.minVasarosRudens30ParuDebitas95, 3) || '-' %>
    m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.maxDebitas) { %>
<tr>
  <td>
    Maksimalus vandens debitas, esant maksimaliai (skaičiuotinai) debito
    tikimybei:
  </td>
  <td class="font-bold">
    <%= roundNumber(locals.maxDebitas, 3) || '-' %> m<sup>3</sup>/s
  </td>
</tr>
<% }; if (!!locals.galia) { %>
<tr>
  <td>Galia:</td>
  <td class="font-bold"><%= roundNumber(locals.galia, 0) || '-' %> kW</td>
</tr>
<% }; if (!!locals.maxSlegioAukstis) { %>
<tr>
  <td>Maksimalus slėgio aukštis:</td>
  <td class="font-bold">
    <%= roundNumber(locals.maxSlegioAukstis, 1) || '-' %> m
  </td>
</tr>
<% }; if (!!locals.zuvuPralaidosDebitas) { %>
<tr>
  <td>Žuvų pralaidos debitas:</td>
  <td class="font-bold">
    <%= roundNumber(locals.zuvuPralaidosDebitas, 3) || '-' %> m<sup>3</sup>/s
  </td>
</tr>
<% }; %>
<tr>
  <td>Koordinatė X (LKS94):</td>
  <td class="font-bold"><%= roundNumber(locals.coordinatesX, 0) || '-' %></td>
</tr>
<tr>
  <td>Koordinatė Y (LKS94):</td>
  <td class="font-bold"><%= roundNumber(locals.coordinatesY, 0) || '-' %></td>
</tr>
<% if (!!locals.atstumasNuoZiociu) { %>
<tr>
  <td>Atstumas nuo upės žiočių:</td>
  <td class="font-bold">
    <%= roundNumber(locals.atstumasNuoZiociu, 1) || '-' %> km
  </td>
</tr>
<% }; %>
<tr>
  <td>Savivaldybė:</td>
  <td class="font-bold"><%= locals.savivaldybe || '-' %></td>
</tr>
