<table class="table-center">
  <% locals.items?.forEach(function(item, index) { %>
  <tr>
    <td class="text-left" colspan="2"><%= id %>.<%= index + 1 %></td>
  </tr>
  <tr>
    <td>Pavadinimas:</td>
    <td><%= item.pavadinimas %></td>
  </tr>
  <tr>
    <td>Koordinatė X (LKS94):</td>
    <td><%= roundNumber(item.objekto_x) || '' %></td>
  </tr>
  <tr>
    <td>Koordinatė Y (LKS94):</td>
    <td><%= roundNumber(item.objekto_y) || '' %></td>
  </tr>
  <tr>
    <td>Stoties atskaitos nulinė altitudė:</td>
    <td><%= roundNumber(item.nulineAltitude) || '-' %> m</td>
  </tr>
  <tr>
    <td>Hidrometrinių stebėjimų laikotarpio pradžia:</td>
    <td><%= item.stebejimu_pradzia ? moment(item.stebejimu_pradzia).format(dateFormat) : '' %></td>
  </tr>
  <tr>
    <td>Šaltinis:</td>
    <td><b><%= item.saltinis %></b></td>
  </tr>
  <% }); %>
</table>

