<table class="table-center">
  <% locals.items?.forEach(function(item, index) { %>
  <tr>
    <td class="text-left" colspan="2"><%= id %>.<%= index + 1 %>.</td>
  </tr>
  <tr>
    <td>Pavadinimas:</td>
    <td class="font-bold"><%= item.pavadinimas %></td>
  </tr>
  <tr>
    <td>Koordinatė X (LKS94):</td>
    <td class="font-bold"><%= roundNumber(item.objekto_x, 0) || '' %></td>
  </tr>
  <tr>
    <td>Koordinatė Y (LKS94):</td>
    <td class="font-bold"><%= roundNumber(item.objekto_y, 0) || '' %></td>
  </tr>
  <tr>
    <td>Atstumas nuo upės žiočių:</td>
    <td class="font-bold">
      <%= roundNumber(item.atstumas_nuo_ziociu, 1) || '-' %> km
    </td>
  </tr>
  <tr>
    <td>Upės baseino plotas ties stotimi:</td>
    <td class="font-bold">
      <%= roundNumber(item.nulineAltitude, 1) || '-' %> km<sup>2</sup>
    </td>
  </tr>
  <tr>
    <td>Stoties atskaitos nulinė altitudė:</td>
    <td class="font-bold"><%= roundNumber(item.altitude, 2) || '-' %> m</td>
  </tr>
  <tr>
    <td>Stebima nuo:</td>
    <td class="font-bold"><%= item.stebejimu_pradzia || '-' %></td>
  </tr>
  <% }); %>
</table>
