<table class="table-center">
  <% locals.upes?.forEach(function(item, index) { %>
  <tr>
    <td colspan="2" class="text-left"><%= id %>.<%= index + 1 %>.</td>
  </tr>
  <%- include('includes/object-destination-table-object', {
    pavadinimas: item.pavadinimas,
    kodas: item.kodas,
    kategorija: item.kategorija,
  }); %>
  <% }); %>

  <% locals.ezeraiTvenkiniai?.forEach(function(item, index) { %>
  <tr>
    <td colspan="2" class="text-left"><%= id %>.<%= index + 1 + (locals.upes?.length || 0) %>.</td>
  </tr>
  <%- include('includes/object-destination-table-object', {
    pavadinimas: item.pavadinimas,
    kodas: item.kodas,
    kategorija: item.kategorija,
  }); %>
  <% }); %>
</table>
