<table class="table-center">
  <% if (!!locals.vandensPavirsiausBeSaluPlotas) { %>
  <tr>
    <td>Vandens paviršiaus be salų plotas:</td>
    <td class="font-bold">
      <%= roundNumber(locals.vandensPavirsiausBeSaluPlotas, 1) || '-' %> ha
    </td>
  </tr>
  <% }; if (!!locals.ilgis) { %>
  <tr>
    <td>Ilgis:</td>
    <td class="font-bold"><%= roundNumber(locals.ilgis, 1) || '-' %> km</td>
  </tr>
  <% }; if (!!locals.vidutinisPlotis) { %>
  <tr>
    <td>Vidutinis plotis:</td>
    <td class="font-bold">
      <%= roundNumber(locals.vidutinisPlotis, 1) || '-' %> km
    </td>
  </tr>
  <% }; if (!!locals.krantoLinijosIlgis) { %>
  <tr>
    <td>Kranto linijos ilgis:</td>
    <td class="font-bold">
      <%= roundNumber(locals.krantoLinijosIlgis, 1) || '-' %> km
    </td>
  </tr>
  <% }; if (!!locals.baseinoPlotas) { %>
  <tr>
    <td>Baseino plotas:</td>
    <td class="font-bold">
      <%= roundNumber(locals.baseinoPlotas, 1) || '-' %> km<sup>2</sup>
    </td>
  </tr>
  <% }; if (!!locals.nplAukstis) { %>
  <tr>
    <td>Normaliojo patvankos lygio (NPL) aukštis (BAS 77):</td>
    <td class="font-bold"><%= roundNumber(locals.nplAukstis, 2) || '-' %> m</td>
  </tr>
  <% }; if (!!locals.nplGylisMax) { %>
  <tr>
    <td>Maksimalus vandens gylis esant NPL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.nplGylisMax, 1) || '-' %> m
    </td>
  </tr>
  <% }; if (!!locals.nplGylisVid) { %>
  <tr>
    <td>Vidutinis vandens gylis esant NPL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.nplGylisVid, 1) || '-' %> m
    </td>
  </tr>
  <% }; if (!!locals.nplTuris) { %>
  <tr>
    <td>Vandens tūris esant NPL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.nplTuris, 1) || '-' %> tūkst. m<sup>3</sup>
    </td>
  </tr>
  <% }; if (!!locals.vvl) { %>
  <tr>
    <td>Vidutinio vandens lygio (VVL) altitudė (BAS 77):</td>
    <td class="font-bold"><%= roundNumber(locals.vvl, 1) || '-' %> m</td>
  </tr>
  <% }; if (!!locals.vvlGylisMax) { %>
  <tr>
    <td>Maksimalus vandens gylis esant VVL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.vvlGylisMax, 1) || '-' %> m
    </td>
  </tr>
  <% }; if (!!locals.vvlGylisVid) { %>
  <tr>
    <td>Vidutinis vandens gylis esant VVL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.vvlGylisVid, 1) || '-' %> m
    </td>
  </tr>
  <% }; if (!!locals.vvlTuris) { %>
  <tr>
    <td>Vandens tūris esant VVL:</td>
    <td class="font-bold">
      <%= roundNumber(locals.vvlTuris, 1) || '-' %> tūkst. m<sup>3</sup>
    </td>
  </tr>
  <% }; if (!!locals.naudingasTuris) { %>
  <tr>
    <td>Naudingas vandens tūris:</td>
    <td class="font-bold">
      <%= roundNumber(locals.naudingasTuris, 1) || '-' %> tūkst. m<sup>3</sup>
    </td>
  </tr>
  <% }; %>
</table>
