<table class="table-center">
  <% if (!!locals.upesIlgis) { %>
  <tr>
    <td>Upės ilgis:</td>
    <td class="font-bold"><%= roundNumber(locals.upesIlgis, 1) || '-' %> km</td>
  </tr>
  <% }; if (!!locals.kanaloIlgis) { %>
  <tr>
    <td>Kanalo ilgis:</td>
    <td class="font-bold">
      <%= roundNumber(locals.kanaloIlgis, 1) || '-' %> km
    </td>
  </tr>
  <% }; if (!!locals.upesBaseinoPlotas) { %>
  <tr>
    <td>Upės baseino plotas:</td>
    <td class="font-bold">
      <%= roundNumber(locals.upesBaseinoPlotas, 1) || '-' %> km<sup>2</sup>
    </td>
  </tr>
  <% }; if (!!locals.kanaloBaseinoPlotas) { %>
  <tr>
    <td>Kanalo baseino plotas:</td>
    <td class="font-bold">
      <%= roundNumber(locals.kanaloBaseinoPlotas, 1) || '-' %> km<sup>2</sup>
    </td>
  </tr>
  <% }; if (!!locals.ziociuX) { %>
  <tr>
    <td>Žiočių koordinatė X (LKS94):</td>
    <td class="font-bold"><%= roundNumber(locals.ziociuX, 0) %></td>
  </tr>
  <% }; if (!!locals.ziociuY) { %>
  <tr>
    <td>Žiočių koordinatė Y (LKS94):</td>
    <td class="font-bold"><%= roundNumber(locals.ziociuY, 0) %></td>
  </tr>
  <% }; if (!!locals.daugiametisDebitas) { %>
  <tr>
    <td>Vidutinis daugiametis vandens debitas žiotyse:</td>
    <td class="font-bold">
      <%= roundNumber(locals.daugiametisDebitas, 3) || '-' %> m<sup>3</sup>/s
    </td>
  </tr>
  <% }; if (!!locals.itekejimoEiliskumas) { %>
  <tr>
    <td>Įtekėjimo į Baltijos jūrą arba Kuršių marias eiliškumas:</td>
    <td class="font-bold"><%= locals.itekejimoEiliskumas %></td>
  </tr>
  <% }; %>
</table>
