<table class="table-center">
  <% if (!!locals.vandensPavirsiausBeSaluPlotas) { %>
  <tr>
    <td>Vandens paviršiaus be salų plotas:</td>
    <td><%= roundNumber(locals.vandensPavirsiausBeSaluPlotas) || '-' %> ha</td>
  </tr>
  <% }; if (!!locals.ilgis) { %>
  <tr>
    <td>Ilgis:</td>
    <td><%= roundNumber(locals.ilgis) || '-' %> km</td>
  </tr>
  <% }; if (!!locals.vidutinisPlotis) { %>
  <tr>
    <td>Vidutinis plotis:</td>
    <td><%= roundNumber(locals.vidutinisPlotis) || '-' %> km</td>
  </tr>
  <% }; if (!!locals.krantoLinijosIlgis) { %>
  <tr>
    <td>Kranto linijos ilgis:</td>
    <td><%= roundNumber(locals.krantoLinijosIlgis) || '-' %> km</td>
  </tr>
  <% }; if (!!locals.baseinoPlotas) { %>
  <tr>
    <td>Baseino plotas:</td>
    <td><%= roundNumber(locals.baseinoPlotas) || '-' %> km<sup>2</sup></td>
  </tr>
  <% }; if (!!locals.vvlAukstis) { %>
  <tr>
    <td>Vidutinio vandens lygio (VVL) altitudė (BAS 77):</td>
    <td><%= roundNumber(locals.vvlAukstis) || '-' %> m</td>
  </tr>
  <% }; if (!!locals.vvlGylisMax) { %>
  <tr>
    <td>Maksimalus vandens gylis esant VVL:</td>
    <td><%= roundNumber(locals.vvlGylisMax) || '-' %> m</td>
  </tr>
  <% }; if (!!locals.vvlGylisVid) { %>
  <tr>
    <td>Vidutinis vandens gylis esant VVL:</td>
    <td><%= roundNumber(locals.vvlGylisVid) || '-' %> m</td>
  </tr>
  <% }; if (!!locals.vvlTuris) { %>
  <tr>
    <td>Vandens tūris esant VVL:</td>
    <td><%= roundNumber(locals.vvlTuris) || '-' %> tūkst. m<sup>3</sup></td>
  </tr>
  <% }; if (!!locals.naudingasTuris) { %>
  <tr>
    <td>Naudingas vandens tūris:</td>
    <td><%= roundNumber(locals.naudingasTuris) || '-' %> tūkst. m<sup>3</sup></td>
  </tr>
  <% }; %>
</table>
