<div>
  <p class="font-bold">2. Kadastro objekto vietos aprašymas:</p>
  <%- include('includes/object-location-table', {
    coordinatesX: item.objektoX,
    coordinatesY: item.objektoY,
    ezeroNumerisKvadrate: item.ezeroNrKvadrate || ' ',
    ezeroKvadratoNumeris: item.ezeroKvadratoNr || ' ',
    upesBaseinoRajonas: item.baseinoRajPavadinimas || ' ',
    upesBaseinas: item.baseinoPavadinimas || ' ',
    upesPabaseinis: item.pabaseinioPavadinimas || ' ',
    municipalities: item.savivaldybes
  }); %>
</div>
<hr />
<div>
  <p class="font-bold">3. Morfometriniai kadastro objekto duomenys:</p>

  <%- include('includes/object-morphometric-data-table', {
    vandensPavirsiausBeSaluPlotas: item.vandensPavirsiausPlotasHe,
    krantoLinijosIlgis: item.krantoLinijosIlgisKm,
    baseinoPlotas: item.baseinoPlotasKvKm,
    ilgis: fullData && 0.1, // TODO: missing data
    vidutinisPlotis: fullData && 0.1,
    vvlAltitude: fullData && 0.1,
    vvlGylisMax: fullData && 0.1,
    vvlGylisVid: fullData && 0.1,
    vvlTuris: fullData && 0.1,
    naudingasTuris: fullData && 0.1
  }); %>
</div>

<% if (!!fullData) { %>
<hr />
<div>
  <p class="font-bold">4. Hidrografinio tinklo duomenys:
    <% if (!item?.patvenktosUpes?.length) { %>
      įrašų nėra
    <% }; %>
  </p>

  <% if (!!item?.patvenktosUpes?.length) { %>
  <%- include('includes/extra/hidrografiniai', { // TODO: missing data
    id: 4,
    items: item.patvenktosUpes
  }); %>
  <% }; %>
</div>
<hr />
<div>
  <p class="font-bold">5. Vandens matavimo stotys:
    <% if (!item?.matavimoStotys?.length) { %>
      įrašų nėra
    <% }; %>
  </p>

  <% if (!!item?.matavimoStotys?.length) { %>
  <%- include('includes/extra/matavimo-stotys', { // TODO: missing data
    id: 5,
    items: item.matavimoStotys
  }); %>
  <% }; %>
</div>
<hr />
<div>
  <p class="font-bold">6. Vandens tyrimo vietos:
    <% if (!item?.tyrimoVietos?.length) { %>
      įrašų nėra
    <% }; %>
  </p>

  <% if (!!item?.tyrimoVietos?.length) { %>
  <%- include('includes/extra/tyrimo-vietos', { // TODO: missing data
    id: 6,
    items: item.tyrimoVietos
  }); %>
  <% }; %>
</div>
<% }; %>