<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%- include('styles'); %>
  </head>
  <body>
    <div style="width: 620px">
      <div class="flex flex-col items-center">
        <p class="font-bold text-2xl">APLINKOS APSAUGOS AGENTŪRA</p>
        <p>
          Biudžetinė įstaiga, A. Juozapavičiaus g. 9, LT-09311 Vilnius, tel.
          <a href="tel:+37068292653">+370 682 92653</a>, el.p. <a href="mailto:aaa@gamta.lt">aaa@gamta.lt</a>, <a href="https://aaa.lrv.lt">https://aaa.lrv.lt</a>.
        </p>
        <p>
          Duomenys kaupiami ir saugojami Juridinių asmenų registre, kodas
          188784898
        </p>
      </div>
      <hr />
      <div class="flex flex-col items-center">
        <p>LIETUVOS RESPUBLIKOS UPIŲ, EŽERŲ IR TVENKINIŲ KADASTRO IŠRAŠAS</p>
        <p>Išrašo unikalus numeris <b><%= id %></b>, suformavimo data <b><%= moment(locals.date).format(dateFormat) %></b></p>
      </div>
      <% objects.forEach(function(item, index) { %>
        <div class="mb-32"></div>
        <hr />
        
        <div>
          <p class="font-bold">1. Kadastro objektas:</p>
          <%- include('includes/object-table', { item: item }); %>
        </div>
        
        <hr />

        <% if (item.kategorijaId === 1) { %>
        <% } else if  (item.kategorijaId === 2) { %>
        <% } else if  (item.kategorijaId === 3) { %>
          <%- include('objects/naturalus-ezeras', { item: item }); %>
        <% } else if  (item.kategorijaId === 4) { %>
          <%- include('objects/patvenktas-ezeras', { item: item }); %>
        <% } else if  (item.kategorijaId === 5) { %>
          <%- include('objects/tvenkinys', { item: item }); %>
        <% } else if  (item.kategorijaId === 6) { %>
          <%- include('objects/dirbtinis-vt', { item: item }); %>
        <% } else if  (item.kategorijaId === 7) { %>
          <%- include('objects/tarpinis-teritorinis-vt', { item: item }); %>
        <% } %>

        <% if (item.screenshot) { %>
          <img src="<%= item.screenshot %>" class="w-full my-4" />
        <% } %>
        
        <div class="page-break"></div>
      <% }); %>

      <hr />
      <hr />
      <hr />
      <hr />

      <!-- Start type -->
      <div class="text-3xl font-bold text-center">Upė</div>
      <%- include('objects/upe', {item: {}}); %>

      <hr />


      <div class="text-3xl font-bold text-center">Kanalas</div>
      <%- include('objects/kanalas'); %>

      <hr />
      <!-- End type -->

      <div class="page-break"></div>
    </div>
  </body>
</html>
