<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%- include('styles'); %>
  </head>
  <body>
    <div>
      <div class="flex flex-col items-center">
        <p class="font-bold text-2xl">APLINKOS APSAUGOS AGENTŪRA</p>
        <p>
          Biudžetinė įstaiga, A. Juozapavičiaus g. 9, LT-09311 Vilnius, tel.
          <a href="tel:+37068292653">+370 682 92653</a>, el.p. <a href="mailto:aaa@gamta.lt">aaa@gamta.lt</a>, <a href="https://aaa.lrv.lt">https://aaa.lrv.lt</a>.
        </p>
        <p>
          Duomenys kaupiami ir saugojami Juridinių asmenų registre, kodas
          188784898
        </p>
      </div>
      <hr />
      <div class="flex flex-col items-center">
        <p>LIETUVOS RESPUBLIKOS UPIŲ, EŽERŲ IR TVENKINIŲ KADASTRO IŠRAŠAS</p>
        <p>Išrašo unikalus numeris <b><%= id %></b>, suformavimo data <b><%= formatDate(locals.date) %></b></p>
      </div>
      <% objects.forEach(function(item, index) { %>
        <div class="mb-32"></div>
        <hr />
        
        <div>
          <% if (!!item.kategorijaId) { %>
            <p class="font-bold">1. Kadastro objektas:</p>
            <%- include('includes/object-table', { item: item }); %>
          <% } else if (item.objectSubtype === 'zuvu_pralaida') { %>
            <p class="font-bold">1. Žuvų pralaidos duomenys:</p>
            <table class="table-center">
              <%- include('includes/extra/hidrotechnikos-statinys', {
                pavadinimas: item.pavadinimas || '-',
                kodas: item.hidrostatinioKodas || '-',
                registravimoData: item.registravimoData || ' ',
                tipas: item.tipas || '-',
                pastatymoMetai: item.pastatymoMetai || ' ',
                zuvuPralaidosDebitas: item.zuvuPralaidosDebitas || '-',
                coordinatesX: item.objektoX,
                coordinatesY: item.objektoY,
                atstumasNuoZiociu: item.atstumasNuoZiociu || ' ',
                savivaldybe: item.savivaldybe,
              }); %>
            </table>
          <% } else if (item.objectSubtype === 'hidroelektrine') { %>
            <p class="font-bold">1. Hidroelektrinės duomenys:</p>
            <table class="table-center">
              <%- include('includes/extra/hidrotechnikos-statinys', {
                pavadinimas: item.pavadinimas || '-',
                kodas: item.hidrostatinioKodas || '-',
                registravimoData: item.registravimoData || ' ',
                tipas: item.tipas || '-',
                pastatymoMetai: item.pastatymoMetai || ' ',
                galia: item.galia || ' ',
                maxSlegioAukstis: item.maxSlegioAukstis || ' ',
                coordinatesX: item.objekto_x,
                coordinatesY: item.objekto_y,
                atstumasNuoZiociu: item.atstumasNuoZiociu || ' ',
                savivaldybe: item.savivaldybe,
              }); %>
            </table>
          <% } else if (item.objectSubtype === 'zemiu_uztvanka') { %>
            <p class="font-bold">1. Žemių užtvankos duomenys:</p>
            <table class="table-center">
              <%- include('includes/extra/hidrotechnikos-statinys', {
                pavadinimas: item.pavadinimas || '-',
                kodas: item.hidrostatinioKodas || '-',
                registravimoData: item.registravimoData || ' ',
                maxPatvankosAukstis: item.maksimalusPatvankosAuktis || ' ',
                ilgis: item.ilgis || ' ',
                plotis: item.plotis || ' ',
                pastatymoMetai: item.pastatymoMetai || ' ',
                coordinatesX: item.objektoX,
                coordinatesY: item.objektoY,
                atstumasNuoZiociu: item.atstumasNuoZiociu || ' ',
                savivaldybe: item.savivaldybe,
              }); %>
            </table>
          <% } else if (item.objectSubtype === 'vandens_pertekliaus_pralaida') { %>
            <p class="font-bold">1. Vandens pertekliaus pralaidos duomenys:</p>
            <table class="table-center">
              <%- include('includes/extra/hidrotechnikos-statinys', {
                pavadinimas: item.pavadinimas || '-',
                kodas: item.hidrostatinioKodas || '-',
                registravimoData: item.registravimoData || ' ',
                tipas: item.tipas || '-',
                pastatymoMetai: item.pastatymoMetai || ' ',
                patvankosAukstis: item.patvankosAukstis || ' ',
                gamtosauginisDebitas: item.gamtosauginisDebitas || ' ',
                vidDaugiametisDebitas: item.vidDaugiametisDebitas || ' ',
                vidDaugiametisDebitas95: item.vidDaugiametisDebitas95 || ' ',
                maxPavasarioPotvynioDeb1: item.maxPavasarioPotvynioDeb1 || ' ',
                maxPavasarioPotvynioDeb5: item.maxPavasarioPotvynioDeb5 || ' ',
                minVasarosRudens30ParuDebitas95: item.minVasarosRudens30ParuDebitas95 || ' ',
                maxDebitas: item.maxDebitas || ' ',
                coordinatesX: item.objektoX,
                coordinatesY: item.objektoY,
                atstumasNuoZiociu: item.atstumasNuoZiociu || ' ',
                savivaldybe: item.savivaldybe,
              }); %>
            </table>
          <% } %>
        </div>
        
        <hr />

        <% if (item.kategorijaId === 1) { %>
          <%- include('objects/upe', { item: item }); %>
        <% } else if  (item.kategorijaId === 2) { %>
          <%- include('objects/kanalas', { item: item }); %>
        <% } else if  (item.kategorijaId === 3) { %>
          <%- include('objects/naturalus-ezeras', { item: item }); %>
        <% } else if  (item.kategorijaId === 4) { %>
          <%- include('objects/patvenktas-ezeras', { item: item }); %>
        <% } else if  (item.kategorijaId === 5) { %>
          <%- include('objects/tvenkinys', { item: item }); %>
        <% } else if  (item.kategorijaId === 6) { %>
          <%- include('objects/dirbtinis-vt', { item: item }); %>
        <% } else if  (item.kategorijaId === 7) { %>
          <%- include('objects/tarpinis-teritorinis-vt', { item: item }); %>
        <% } else if  (['zuvu_pralaida', 'hidroelektrine', 'zemiu_uztvanka', 'vandens_pertekliaus_pralaida'].includes(item.objectSubtype)) { %>
          <%- include('objects/hs', { item: item }); %>
        <% } %>

        <% if (item.screenshot) { %>
          <img src="<%= item.screenshot %>" class="w-full my-4" />
        <% } %>
        
        <div class="page-break"></div>
      <% }); %>

    </div>
  </body>
</html>
