<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%- include('styles'); %>
  </head>
  <body>
    <div>
      <div class="flex items-center justify-center">
        <div>
          <img
            src="https://s3.biip.lt/uetk-wp/app/uploads/AAA-Zenklas-RGB-1-300x300.png"
            class="w-16"
          />
        </div>
        <div class="flex flex-col items-center w-full mr-20 text-center">
          <p class="font-bold text-2xl">APLINKOS APSAUGOS AGENTŪRA</p>
          <p>
            Biudžetinė įstaiga, A. Juozapavičiaus g. 9, LT-09311 Vilnius, tel.
            <a href="tel:+37068292653">+370 682 92653</a>, el.p.
            <a href="mailto:aaa@gamta.lt">aaa@gamta.lt</a>,
            <a href="https://aaa.lrv.lt">https://aaa.lrv.lt</a>.
          </p>
          <p>
            Duomenys kaupiami ir saugojami Juridinių asmenų registre, kodas
            188784898
          </p>
        </div>
      </div>
      <hr />

      <% objects.forEach(function(item, index) { %>
      <div class="flex flex-col items-center">
        <p>LIETUVOS RESPUBLIKOS UPIŲ, EŽERŲ IR TVENKINIŲ KADASTRO IŠRAŠAS</p>
        <p>Išrašo unikalus numeris <b><%= id %></b>, suformavimo data</p>
      </div>

      <hr />

      <div>
        <% if (['RIVER', 'CANAL', 'INTERMEDIATE_WATER_BODY',
        'TERRITORIAL_WATER_BODY', 'NATURAL_LAKE', 'PONDED_LAKE', 'POND',
        'ISOLATED_WATER_BODY'].includes(item.category)) { %>
        <p class="font-bold">1. Kadastro objektas:</p>
        <%- include('includes/object-table', { item: item.extendedData }); %> <%
        } else if (['FISH_PASS'].includes(item.category)) { %>
        <p class="font-bold">1. Žuvų pralaidos duomenys:</p>
        <table class="table-center">
          <%- include('includes/extra/hidrotechnikos-statinys', { pavadinimas:
          item.extendedData.pavadinimas || '-', kodas:
          item.extendedData.hidrostatinioKodas || '-', registravimoData:
          item.extendedData.registravimoData || ' ', tipas:
          item.extendedData.tipas || '-', pastatymoMetai:
          item.extendedData.pastatymoMetai || ' ', zuvuPralaidosDebitas:
          item.extendedData.zuvuPralaidosDebitas || '-', coordinatesX:
          item.extendedData.objektoX, coordinatesY: item.extendedData.objektoY,
          atstumasNuoZiociu: item.extendedData.atstumasNuoZiociu || ' ',
          savivaldybe: item.extendedData.savivaldybe, }); %>
        </table>
        <% } else if (['HYDRO_POWER_PLANT'].includes(item.category)) { %>
        <p class="font-bold">1. Hidroelektrinės duomenys:</p>
        <table class="table-center">
          <%- include('includes/extra/hidrotechnikos-statinys', { pavadinimas:
          item.extendedData.pavadinimas || '-', kodas:
          item.extendedData.hidrostatinioKodas || '-', registravimoData:
          item.extendedData.registravimoData || ' ', tipas:
          item.extendedData.tipas || '-', pastatymoMetai:
          item.extendedData.pastatymoMetai || ' ', galia:
          item.extendedData.galia || ' ', maxSlegioAukstis:
          item.extendedData.maxSlegioAukstis || ' ', coordinatesX:
          item.extendedData.objekto_x, coordinatesY:
          item.extendedData.objekto_y, atstumasNuoZiociu:
          item.extendedData.atstumasNuoZiociu || ' ', savivaldybe:
          item.extendedData.savivaldybe, }); %>
        </table>
        <% } else if (['EARTH_DAM'].includes(item.category)) { %>
        <p class="font-bold">1. Žemių užtvankos duomenys:</p>
        <table class="table-center">
          <%- include('includes/extra/hidrotechnikos-statinys', { pavadinimas:
          item.extendedData.pavadinimas || '-', kodas:
          item.extendedData.hidrostatinioKodas || '-', registravimoData:
          item.extendedData.registravimoData || ' ', maxPatvankosAukstis:
          item.extendedData.maksimalusPatvankosAuktis || ' ', ilgis:
          item.extendedData.ilgis || ' ', plotis: item.extendedData.plotis || '
          ', pastatymoMetai: item.extendedData.pastatymoMetai || ' ',
          coordinatesX: item.extendedData.objektoX, coordinatesY:
          item.extendedData.objektoY, atstumasNuoZiociu:
          item.extendedData.atstumasNuoZiociu || ' ', savivaldybe:
          item.extendedData.savivaldybe, }); %>
        </table>
        <% } else if (['WATER_EXCESS_CULVERT'].includes(item.category)) { %>
        <p class="font-bold">1. Vandens pertekliaus pralaidos duomenys:</p>
        <table class="table-center">
          <%- include('includes/extra/hidrotechnikos-statinys', { pavadinimas:
          item.extendedData.pavadinimas || '-', kodas:
          item.extendedData.hidrostatinioKodas || '-', registravimoData:
          item.extendedData.registravimoData || ' ', tipas:
          item.extendedData.tipas || '-', pastatymoMetai:
          item.extendedData.pastatymoMetai || ' ', patvankosAukstis:
          item.extendedData.patvankosAukstis || ' ', gamtosauginisDebitas:
          item.extendedData.gamtosauginisDebitas || ' ', vidDaugiametisDebitas:
          item.extendedData.vidDaugiametisDebitas || ' ',
          vidDaugiametisDebitas95: item.extendedData.vidDaugiametisDebitas95 ||
          ' ', maxPavasarioPotvynioDeb1:
          item.extendedData.maxPavasarioPotvynioDeb1 || ' ',
          maxPavasarioPotvynioDeb5: item.extendedData.maxPavasarioPotvynioDeb5
          || ' ', minVasarosRudens30ParuDebitas95:
          item.extendedData.minVasarosRudens30ParuDebitas95 || ' ', maxDebitas:
          item.extendedData.maxDebitas || ' ', coordinatesX:
          item.extendedData.objektoX, coordinatesY: item.extendedData.objektoY,
          atstumasNuoZiociu: item.extendedData.atstumasNuoZiociu || ' ',
          savivaldybe: item.extendedData.savivaldybe, }); %>
        </table>
        <% } %>
      </div>

      <hr />

      <% if (item.category === 'RIVER') { %> <%- include('objects/upe', { item:
      item.extendedData }); %> <% } else if (item.category === 'CANAL') { %> <%-
      include('objects/kanalas', { item: item.extendedData }); %> <% } else if
      (item.category === 'NATURAL_LAKE') { %> <%-
      include('objects/naturalus-ezeras', { item: item.extendedData }); %> <% }
      else if (item.category === 'PONDED_LAKE') { %> <%-
      include('objects/patvenktas-ezeras', { item: item.extendedData }); %> <% }
      else if (item.category === 'POND') { %> <%- include('objects/tvenkinys', {
      item: item.extendedData }); %> <% } else if (item.category ===
      'ISOLATED_WATER_BODY') { %> <%- include('objects/dirbtinis-vt', { item:
      item.extendedData }); %> <% } else if (['INTERMEDIATE_WATER_BODY',
      'TERRITORIAL_WATER_BODY'].includes(item.category)) { %> <%-
      include('objects/tarpinis-teritorinis-vt', { item: item.extendedData });
      %> <% } else if (['EARTH_DAM', 'WATER_EXCESS_CULVERT',
      'HYDRO_POWER_PLANT', 'FISH_PASS'].includes(item.category)) { %> <%-
      include('objects/hs', { item: item.extendedData }); %> <% } %> <% if
      (item.screenshot) { %>
      <div class="page-break"></div>
      <img src="<%= item.screenshot %>" class="w-full my-4" />
      <% } %> <% if (objects.length - 1 > index) { %>
      <div class="page-break"></div>
      <% } %> <% }); %>
    </div>
  </body>
</html>
